a {
  color: rgba(0, 0, 0, 0.87);
  padding: 8px 24px;
  text-decoration: none;
}

a:hover {
  background-color: #707070;
}

body {
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, 0.87);
  font-family: verdana, sans-serif;
  margin: 0;
}

button {
  background-color: #ff9800;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-family: verdana, sans-serif;
  outline: none;
  padding: 8px 16px;
  text-transform: uppercase;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

button:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 11px 11px 0 rgba(0, 0, 0, 0.14), 0 14px 8px -11px rgba(0, 0, 0, 0.12);
}

button:hover {
  background-color: #c66900;
}

#features {
  margin: auto;
  max-width: 800px;
}

.feature-title {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0 5px 0;
}

.feature-description {
  font-size: 14px;
  margin: 0;
}

figure {
  text-align: center;
}

#filler {
  height: 64px;
}

#form {
  text-align: center;
}

header {
  align-items: center;
  background-color: #9e9e9e;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-wrap: wrap;
  min-height: 64px;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#header-img {
  height: 48px;
  padding: 8px 24px;
}

h1 {
  flex: 1;
  margin: 0;
}

input {
  font-family: verdana, sans-serif;
  padding: 6px;
  width: 300px;
}

li {
  position: relative;
}

.list-img {
  height: 28px;
  left: -36px;
  position: absolute;
}

.icon-link {
  display: none;
}

#pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 16px;
  text-align: center;
}

.product {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin: 7.5px;
  min-width: 240px;
  max-width: 300px;
  width: 25%;
}

.product__feature {
  font-size: 14px;
}

.product__name {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.product__price {
  font-size: 17px;
  font-weight: bold;
}

.product__purchase-btn {
  margin-bottom: 16px;
}

#submit {
  display: block;
  margin: 12px auto 24px auto;
}

#summary {
  font-size: 24px;
  text-align: center;
}

ul {
  list-style: none;
}

@media (max-width: 875px) {
  a {
    font-size: 14px;
    padding: 8px 12px;
  }

  #features {
    margin: 0 2.5%;
  }

  figure {
    margin: -18px auto;
    padding-bottom: 56.25%;
    position: relative;
    width: 90%;
  }

  h1 {
    font-size: 3vw;
  }

  iframe {
    height: 82%;
    left: 9%;
    position: absolute;
    top: 9%;
    width: 82%;
  }
}

@media (max-width: 620px) {
  .fa-dollar-sign {
    left: 4px;
    position: relative;
  }

  figure {
    margin: 0 auto;
  }

  h1 {
    font-size: 18px;
  }

  .icon-link {
    display: inline-block;
    width: 14px;
  }

  .text-link {
    display: none;
  }
}

@media (max-width: 360px) {
  #filler {
    height: 109px;
  }

  .icon-link {
    margin: 12px;
    margin-top: 0;
  }

  input {
    width: 200px;
  }
}
